/meme/*
/log
bot.db
my.log
nohup.out
/vcode/*
setting.py
/__pycache__
/.vscode
/figs
/private
setting.json
private.py
bot.db-journal
find_github.sh
/Class/__pycache__
bot.service
Class/__pycache__/Group_member.cpython-312.pyc
Class/__pycache__/Group_member.cpython-312.pyc
Class/__pycache__/User_point.cpython-312.pyc
/venv/
/groups/*
/test/
__pycache__
/cache/*
/.venv/
/private_application
/downloads
static_setting.json
.DS_Store
*.db
images/*
.claude